<form action="../book/update" method="POST">
  <div class="rounded border border-2 bg-light  p-4 m-4">
    <div class="text-center">
      <label class="form-label mb-5 mt-2 form-label-xlg">Search Book:</label>
    </div>
    <div class="row">
      <div class="col-lg d-grid">
        <label for="id" class="form-label mt-2">Current ID</label>
        <input type="text" name="id" class="form-control" id="id" aria-describedby="idHelp"
          {{#if id}}value= {{id}}{{/if}}>
        <div id="idHelp" class="form-text">ID needs to be a positive integer</div>
      </div>
      <div class="col-lg d-grid">
        <label for="title" class="form-label mt-2">Current Title</label>
        <input type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp"
         {{#if title}}value= {{title}}{{/if}}>
        <div id="titleHelp" class="form-text">No space should follow the title</div>
      </div>
    </div>
    <div class="text-center mt-5">
      <hr>
      <label class="form-label mb-5 mt-2 form-label-xlg">Update Properties To:</label>
    </div>
    <div class="row">
      <div class="col-lg d-grid">
        <label for="newTitle" class="form-label mt-2">New Title</label>
        <input type="text" name="newTitle" class="form-control" id="newTitle" aria-describedby="newTitleHelp"
         {{#if newTitle}}value= {{newTitle}}{{/if}}>
        <div id="newTitleHelp" class="form-text">No space should follow the title</div>
      </div>
      <div class="col-lg d-grid">
        <label for="inventoryCount" class="form-label mt-2">New Inventory Count</label>
        <input type="text" name="inventoryCount" class="form-control" id="inventoryCount" aria-describedby="inventoryCountHelp"
         {{#if inventoryCount}}value= {{inventory-count}}{{/if}}>
        <div id="inventoryCountHelp" class="form-text">Inventory Count should be a positive integer</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg d-grid">
        <button type="submit" class="btn btn-dark mt-4">Update books</button>
      </div>
      <div class="col-lg d-grid">
        <button type="reset" class="btn btn-dark mt-4">Clear Form</button>
      </div>
    </div>
  </div>
</form>
{{#if success}}
<div class="m-4 p-3 text-center bg-success text-white rounded-pill border border-2">
  Successfully updated {{success}} book(s)!
</div>
{{/if}}
{{#if error}}
<div class="m-4 p-3 text-center bg-danger text-white rounded-pill border border-2">
  Couldn't update any books!<br>
  Error: {{error}}
</div>
{{/if}}